fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9
pdfplumber==0.11.4
docx2txt
spacy==3.7.5
rapidfuzz==3.9.6
sentence-transformers==3.0.1
numpy==1.26.4
scikit-learn==1.5.1
sqlalchemy==2.0.32
pydantic==2.8.2
streamlit
langchain
langgraph
langsmith
chromadb
langchain-google-genai
google-generativeai

